
:root {
  --color-dark: #000000;
  --color-light: #ffffff;
  --color-add:  #0000ff;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}


body {
  min-width: 480px;
  min-height: 100vh;
  font-family: Verdana, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2rem;
  color: var(--color-dark);
  background-color: rgba(198, 212, 212, 0.3);
}




.bayan {
  width: 50vw;
  margin: 10vh auto;
}

.bayan input {
  display: none;
}

.bayan-title {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 0;
  width: 100%;
  cursor: pointer;
  color: var(--color-add);
  border-top: 2px solid rgba(171, 204, 204, 0.6);
  transition: 0.5s;
}

.bayan-title span {
  width: 10%;
}

.bayan-item span::before {
  content: '\25BC	';
  opacity: 0.0;
  transition: 0.5s;
}



.bayan:hover .bayan-title span::before {
  opacity: 1;
}

.bayan:hover .bayan-title,
input:checked+.bayan-item .bayan-title {
  color: var(--color-dark);
}

.bayan-item:hover span::before,
input:checked+.bayan-item span::before {
  content: '\25B6	';
}

.bayan-body {
  width: 100%;
  height: 0;
  margin: 0 15px;
  padding: 0 30px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
}

.bayan-body img {
  height: 50px;
}


input:checked+.bayan-item .bayan-body {
  height: auto;
  padding: 20px 30px;
}


/* cursor over the memes (hover) effect exists only for desktop devices */
@media (any-hover: hover) {

  .bayan-item:hover .bayan-body,
  .bayan-body:hover {
    height: auto;
    padding: 20px 30px;
  }

}


input:checked+.bayan-item:active .bayan-title,
.bayan-item:active .bayan-title {
  color:  var(--color-add);
}

.bayan-item:active img {
  opacity: 0.5;
}